@model WebApplication3.Models.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>AddCategory</h1>
<div class="container">
    <div class="row">
        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                    @if (Model.CategoryId == 0)
                    {
                        <h2 class="text-info">Add Category</h2>
                    }
                    else
                    {
                        <h2 class="text-info">Update Category</h2>
                    }

                        
                        

                </div>
                <div class="card-body">
                    <form method="post" asp-action="AddCategory">
                        <div class="form-group">
                            <label asp-for="CategoryName"></label>
                            <input type="text" class="form-control" placeholder="Enter Category" autocomplete="off" asp-for="CategoryName" />
                            <input type="hidden" asp-for="CategoryId"/>
                            <span class="text-danger" asp-validation-for="CategoryName">CategoryName</span>
                        </div>
                        <div class="">
                            @if (Model.CategoryId == 0)
                            {
                                <input type="submit" class="btn btn-sm btn-primary m-2 p-2" style="float:right" value="submit" />
                            }else

                            {
                                <input type="submit" class="btn btn-sm btn-primary m-2 p-2" style="float:right" value="update" />
                            
                            }
                        </div>

                    </form>
                </div>
                <div class="card-footer mt-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-sm btn-warning m-2 p-2" asp-action="Index" asp-controller="Product">Back to List</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

