@model WebApplication3.Models.ViewModel.ProductCategorySummaryViewModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 ">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center text-info">AddProduct</h2>
                </div>
                <div class="Card-body">
                    <form method="post" asp-action="AddProduct" asp-controller="Product">
                        <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label class="mb-1" asp-for="ProductName"></label>
                            <input type="text" class="form-control" asp-for="ProductName" placeholder="Enter Product Name" autocomplete="off"/>

                            <input class="hidden" asp-for="ProductId"/>
                            <span class="text-danger" asp-validation-for="ProductName"></span>
                        </div>
                        <div class="form-group col-lg-6 mt-2">
                            <label asp-for="CategoryName"></label>
                            <select asp-for="CategoryId">
                                <option value="0">--Selected Category--</option>
                                @foreach (var cat in ViewBag.category)
                                {
                                    <option value="@cat.CategoryId">@cat.CategoryName</option>
                                }
                            
                            </select>
                        </div>
                        <div class="float-end">
                            <input type="submit" class="btn btn-sm btn-primary p-2 mt-4" value="submit" />
                        </div>

                    </form>
                </div>
                <div class="card-footer mt-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-sm btn-warning m-2 p-2" asp-action="Index" asp-controller="Product">Back to List</a>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>

